<h2>@Model.Title</h2>

<p>
    @Model.Name"
</p>

<div id="album-details">
    <p>
        <em>Calories:</em>
        @Model.Calories
    </p>
    <p>
        <em>Carbohydrate:</em>
        <label>@Model.Carbohydrate</label>
    </p>
    <p>
        <em>Protein:</em>
        <label>@Model.Protein</label>
    </p>
    <p>
        <em>Fat:</em>
        <label>@Model.Fat</label>
    </p>

    <p class="button">
        <a asp-controller="Food" asp-action="Delete" asp-route-id="@Model.FoodID">Delete</a>
    </p>
</div>