@inject MealPlanApp.Models.FormattingService Format
@model MealPlanApp.Models.MealPlan

@if (ViewBag.isTrue)
{
    <h1>My Meal Plan</h1>
    <p>@Model.TotalCalories</p>
    <p><span>Carbs: @Model.MacroRatio[0]</span> <span>Proteins: @Model.MacroRatio[1]</span> <span>Fats: @Model.MacroRatio[2]</span></p>
} else  {
    <p>Please sign in.</p>
}


@if (Model.Plan != null)
{
    string[] breakfast = null;
    string[] lunch = null;
    string[] dinner = null;
    string[] snack = null;

    string[] time = Format.AsteriskToArray(Model.Plan);
    breakfast = Format.TildeToArray(time[0]);
    lunch = Format.TildeToArray(time[1]);
    dinner = Format.TildeToArray(time[2]);
    snack = Format.TildeToArray(time[3]);
    
    <ul>Breakfast</ul>
    foreach (string food in breakfast)
    {
        <li>@food</li>
    }

    <ul>Lunch</ul>
    foreach (string food in lunch)
    {
        <li>@food</li>
    }

    <ul>Dinner</ul>
    foreach (string food in dinner)
    {
        <li>@food</li>
    }

    <ul>Snacks</ul>
    foreach (string food in snack)
    {
        <li>@food</li>
    }
}

<form asp-controller="MealPlan" asp-action="Generate" asp-antiforgery="true">
    <button class="btn btn-default" type="submit">Generate</button>
</form>